{% extends "base.html" %}
{% load static i18n %}

{% block content %}

<section id="profile">
        <h2 class="section-title">{% trans "User profile" %} {{ request.user }}</h2>

        <div class="row">
            <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked news-list">
                    <li class="active">
                        <a href="#news1" data-toggle="tab" class="">
                            <i class="fa fa-gamepad"></i> {% trans "Favs" %} <div class="badge badge-info pull-right">{{ favs_count }}</div>
                        </a>
                    </li>
                    <li>
                        <a href="#news2" data-toggle="tab" class="">
                            <i class="fa fa-gears"></i> {% trans "Settings" %}
                        </a>
                    </li>
                    <li>
                        <a href="#news3" data-toggle="tab" class="">
                            <i class="fa fa-list-alt"></i> {% trans "Alerts" %} <div class="badge badge-info pull-right">{{ alert_count }}</div>
                        </a>
                    </li>
                    <li>
                        <a href="#news4" data-toggle="tab" class="">
                            <i class="fa fa-star"></i> {% trans "Fallowers" %}
                        </a>
                    </li>

                </ul>
                <!-- list-group -->
            </div>
            <div class="col-md-8">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="news1">
                        <article class="news-content">
                            <h3 class="news-content-title"><i class="fa fa-gamepad"></i> {% trans "Favourites" %}</h3>
                            <hr/>
                            {% for fav in favs %}
                                <div class="media">
                                  <a class="pull-left" href="#">
                                    <img class="media-object" alt="64x64" src="{{ fav.tip.language.img.url }}" style="width: 64px; height: 64px;">
                                  </a>
                                  <div class="media-body">
                                    <h4 class="media-heading">{{ fav.tip.title }}</h4>
                                    {{ fav.tip.description|truncatewords:20 }}
                                  </div>
                                </div>
                                <hr/>
                            {% endfor %}
                        </article>
                    </div>
                    <div class="tab-pane fade" id="news2">
                        <article class="news-content">
                            <h3 class="news-content-title"><i class="fa fa-gears"></i> {% trans "Settings" %}</h3>


                            <p>Aliquip pariatur esse Excepteur enim Duis in ex dolor amet aute mollit officia aliqua
                                dolor laboris consequat incididunt sit cillum veniam Excepteur esse laborum exercitation
                                mollit commodo sunt. Lorem ipsum Enim anim mollit sed. Lorem ipsum Ea in in occaecat
                                sunt laboris. Lorem ipsum Tempor enim dolor ut culpa aliquip.</p>

                            <p>Ullamco deserunt cupidatat ut ut velit laboris. physico faciunt. Dicere loquuntur
                                consequentis artibus afranius, rudem remotis pericula cumque, nescio causam repellendus,
                                amotio derepta laborum occultarum.</p>

                            <p>Lorem ipsum Mollit Ut dolor adipisicing pariatur sed esse sit elit non dolor. Lorem ipsum
                                Commodo commodo Ut reprehenderit do cillum incididunt elit pariatur velit commodo. Lorem
                                ipsum Consequat est Duis culpa sed.</p>
                        </article>
                    </div>
                    <div class="tab-pane fade" id="news3">
                        <article class="news-content">
                            <h3 class="news-content-title"><i class="fa fa-list-alt"></i> {% trans "Alerts" %}</h3>


                            <p>Aliquip pariatur esse Excepteur enim Duis in ex dolor amet aute mollit officia aliqua
                                dolor laboris consequat incididunt sit cillum veniam Excepteur esse laborum exercitation
                                mollit commodo sunt. Lorem ipsum Enim anim mollit sed. Lorem ipsum Ea in in occaecat
                                sunt laboris. Lorem ipsum Tempor enim dolor ut culpa aliquip.</p>

                            <p>Ullamco deserunt cupidatat ut ut velit laboris. physico faciunt. Dicere loquuntur
                                consequentis artibus afranius, rudem remotis pericula cumque, nescio causam repellendus,
                                amotio derepta laborum occultarum.</p>

                            <p>Lorem ipsum Mollit Ut dolor adipisicing pariatur sed esse sit elit non dolor. Lorem ipsum
                                Commodo commodo Ut reprehenderit do cillum incididunt elit pariatur velit commodo. Lorem
                                ipsum Consequat est Duis culpa sed.</p>
                        </article>
                    </div>
                    <div class="tab-pane fade" id="news4">
                        <article class="news-content">
                            <h3 class="news-content-title"><i class="fa fa-star"></i> {% trans "Fallowers" %}</h3>


                            <p>Aliquip pariatur esse Excepteur enim Duis in ex dolor amet aute mollit officia aliqua
                                dolor laboris consequat incididunt sit cillum veniam Excepteur esse laborum exercitation
                                mollit commodo sunt. Lorem ipsum Enim anim mollit sed. Lorem ipsum Ea in in occaecat
                                sunt laboris. Lorem ipsum Tempor enim dolor ut culpa aliquip.</p>

                            <p>Ullamco deserunt cupidatat ut ut velit laboris. physico faciunt. Dicere loquuntur
                                consequentis artibus afranius, rudem remotis pericula cumque, nescio causam repellendus,
                                amotio derepta laborum occultarum.</p>

                            <p>Lorem ipsum Mollit Ut dolor adipisicing pariatur sed esse sit elit non dolor. Lorem ipsum
                                Commodo commodo Ut reprehenderit do cillum incididunt elit pariatur velit commodo. Lorem
                                ipsum Consequat est Duis culpa sed.</p>
                        </article>
                    </div>

                    </div>
                </div>
                <!-- tab-content -->
            </div>
        </div>
    </section> <!-- news -->

{% endblock %}