# Python bytecode:
*.py[co]
*.pyc

# Packaging files:
*.egg*
*.exe

# Editor temp files:
*.swp
*~
.idea

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Cache
cache

# Enviroment
env

# Settings:
# local.py

# Static
assets/*
public

