<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()">&times;</button>
        <h4 class="modal-title text-center">{[{tip.title}]}</h4>
    </div>
    <div class="modal-body">
        <div class="tip-description" data-markdown="">
            {[{tip.description}]}
        </div>
        <p class="text-center">
            <span class="btn btn-sm btn-success">Vote up</span>
            <span class="btn btn-sm btn-warning">Vote down</span>
        </p>
    </div>
</div>
