{% load i18n %}
<!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="badge"><i class="fa fa-code"></i> {% trans "Pro tips" %}</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if not request.user.is_authenticated %}
                <li><a href="{% url "accounts:login" %}"><i class="fa fa-user"></i> {% trans "Log in" %}</a></li>
                <li><a href="{% url "accounts:register" %}"><i class="fa fa-sign-in"></i> {% trans "Register" %}</a></li>
                <li><a href="{% url "socialauth_begin" "facebook" %}"><i class="fa fa-facebook"></i> {% trans "Sign in by FB" %}</a></li>
                <!--<li><a href="{% url "socialauth_begin" "github" %}"><i class="fa fa-github"></i> {% trans "Sign in by GitHub" %}</a></li>-->
                <li><a href="{% url "socialauth_begin" "google-oauth2" %}"><i class="fa fa-google-plus"></i> {% trans "Sign in by Google" %}</a></li>
            {% else %}
                <li><a href="{% url "accounts:user-profile" %}"><i class="fa fa-user"></i> {% trans "User profile" %}</a></li>

            {% endif %}
          </ul>
          {% if request.user.is_staff %}
              <ul class="nav navbar-nav pull-right">
                    <li><a href="{% url "admin:index" %}"><i class="glyphicon glyphicon-globe"></i> {% trans "Admin" %}</a></li>
                    <li><a href="{% url "accounts:logout" %}"><i class="glyphicon glyphicon-log-out"></i> {% trans "Logout" %}</a></li>
              </ul>
           {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
