@import "mixins.less";
@import "variables.less";

.tip:hover .thumbnail {
  background-color: #f0f0f0;
  cursor: pointer;
}

.selected-language .thumbnail {
  background-color: #fffed0;
}

.add-tip {
  padding: 30px;
}