{% extends "base.html" %}
{% load front_tags i18n thumbnail %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        {% front_edit "home_lead_description" request.path request.LANGUAGE_CODE %}
            <h1>Protips application</h1>
            <h2> is a reference site for passionate and dedicated developers.</h2>

            <a href="/tips" class="btn btn-primary">Poka tipy</a>
        {% end_front_edit %}
    </div>

    <div class="row">
        {% for language in languages %}
        <a href="{% url "api:tips_list" %}?language={{ language.pk }}">
            <div class="col-xs-18 col-sm-6 col-md-3">
              <div class="thumbnail">
                  {% if language.img %}
                      <img src="{% thumbnail language.img 0x150 %}" alt=""/>
                  {% else %}
                    <img src="http://placehold.it/500x300" alt="">
                  {% endif %}
                  <div class="caption">
                    <h2>{{ language.name }}</h2>
                </div>
              </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}