{% extends "base.html" %}
{% load front_tags thumbnail %}

{% block content %}
<div ng-controller="TipsCtrl">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        {% for language in languages %}
        <a href="/tips/?language={{ language.pk }}">
            <div class=" col-md-2 language" ng-class="{true:'selected-language', false:''}[{{language.pk}}==language]">
              <div class="thumbnail">
                  {% if language.img %}
                      <img src="{% thumbnail language.img 0x50 %}" alt=""/>
                  {% else %}
                    <img src="http://placehold.it/250x150" alt="">
                  {% endif %}
                  <div class="caption">
                    <h5 class="text-center">{{ language.name }}</h5>
                </div>
              </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <p class="text-center add-tip">
        <span class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#tip_modal">Add tip</span>
    </p>

    <div class="row">
        <div class="col-md-12 tip" ng-repeat="tip in tips" ng-click="showDetails(tip)">
          <div class="thumbnail">
              <i class="fa fa-plus"></i> {[{tip.rating.positive}]}
              <i class="fa fa-minus"></i> {[{tip.rating.positive}]}
              <h2 class="text-center">{[{tip.title}]}</h2>
              <div class="tip-description" data-markdown="">{[{tip.description | limitTo : 100}]}</div>
          </div>
        </div>
    </div>
    <div class="row">
        <p class="text-center">
        <img src="/static/images/loading.gif" ng-show="loading" class="img-responsive center-block" />
        <button type="button" ng-click="loadMoreTips()" class="btn btn-success btn-lg" ng-hide="allTipsLoaded || tips.length == 0 || loading"><i class="fa fa-download"></i> Load more tips</button>
        </p>
    </div>
    <div ng-controller="AddTipCtrl" class="modal fade" id="tip_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add your tip:</h4><br />
                </div>
                <div class="modal-body">
                    <form role="form" ng-hide="loading" id="tip_form" name="tip_form">
                        <fieldset>
                            <div class="form-group" ng-class="{ 'has-error': tip_form.tip_title.$invalid }">
                                <label for="tip_title">Title</label>
                                <textarea id="tip_title" ng-model="tip.title" placeholder="Title..." name="tip_title" class="form-control" required></textarea>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': tip_form.tip_description.$invalid }">
                                <label for="tip_description">Description</label>
                                <textarea id="tip_description" ng-model="tip.description" placeholder="Your tip..." name="tip_description" class="form-control" rows="5" maxlength="300" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="tip_language">Język</label>
                                <select id="tip_language" name="tip_language" ng-model="tip.language">
                                    {% for language in languages %}
                                        <option value="{{ language.pk }}">{{ language.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <p class="text-center" ng-repeat="error in errors">{{error}}</p>
                            </div>
                            <button ng-disabled="tip_form.$invalid" type="button" class="btn btn-lg btn-success btn-block" ng-click="addTip()">Add tip</button>
                        </fieldset>
                    </form>
                    <div ng-show="loading">
                        <p class="text-center"><img src="/static/images/loading.gif" /></p>
                        <p class="text-center"><b>Adding tip...</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}